<h3>This is where my tax calculator will be</h3>

<div class = "box left">
	Enter your personal details:
	<form name="personalDetails">
		Residence: <select name="residence" form="personalDetails">
			                 <option value="LV">Latvia</option>
			                 <option value="LT">Lithuania</option>
			                 <option value="GB">United Kingdom</option>
		                   </select><br>
	</form>
	<input type="button" id="buttonAddPersonalDetails" name="Add Personal Details" value="Add Personal Details"></input>
	<input type="button" id="clearPersonalDetails" name="Clear Personal Details" value="Clear Personal Details"></input>
	<div id="personalDetails"></div>
</div>

<div class = "box right">
	Enter your income details:
	<form name="incomeDetails">
		Income: <input type="integet" min="0" name="sizeOfIncome" size="20"><br>
		Source of Income: <select name="sourceOfIncome" form="source_of_income">
			                 <option value="dividends">Dividends</option>
			                 <option value="interest">Interests</option>
			                 <option value="selfEmployment">Self-Employment</option>
			                 <option value="wage">Wage</option>
			              </select><br>
		Location: <select name="locationOfIncome" form="location_of_income" >
			                 <option value="LV">Latvia</option>
			                 <option value="LT">Lithuania</option>
			                 <option value="UK">United Kingdom</option>
		                   </select><br>
	</form>
	<input type="button" id="buttonAddIncomeDetails" name="Add Income" value="Add Income"></input>
</div>

<div class = "box right" id="currentIncome">Current Income:</div>

<div class = "box left">Current taxes:<br/>
	<input type="button" id="buttonCalculateTaxes" name="Calculate Taxes" value="Calculate Taxes">
</div>

<div class = "box right">Minimize taxes: (Table)</div>

<div class = "box left">Minimize taxes: (Graph)</div>

<div class = "box right">How to achieve it:</div>

<div class = "box left">Whom to contact:</div>
